ÚKOL_9:
Stáhni si soubor temperature.csv, který obsahuje informace o průměrné teplotě v různých městech v listopadu 2017.

Vypiš si prvních několik řádků, ať si prohlédneš strukturu tabulky.

Dále napiš následující dotazy:

Dotaz na měření, která byla provedena v Praze. Je na datech něco zvláštního? Napadá tě, čím to může být? Zde je nápověda.
Dotaz na měření, ve kterých je teplota (sloupec AvgTemperature) vyšší než 80 stupňů.
Dotaz na měření, ve kterých je teplota vyšší než 60 stupňů a současně bylo měření provedeno v regionu (sloupec Region) Evropa (Europe).
Dotaz na extrémní hodnoty, tj. měření, ve kterých je teplota vyšší než 80 stupňů nebo menší než -20 stupňů.

In [1]:
import pandas as pd
teploty = pd.read_csv("temperature.csv")
teploty.head()

   Region  Country     City  Day  AvgTemperature
0  Africa  Algeria  Algiers    1            62.0
1  Africa  Algeria  Algiers    2            62.2
2  Africa  Algeria  Algiers    3            65.7
3  Africa  Algeria  Algiers    4            69.8
4  Africa  Algeria  Algiers    5            63.8

In [2]:
teploty_praha = teploty[teploty["City"].isin(["Prague"])]
teploty_praha.head()#teplot je zadávána ve °F

      Region         Country    City  Day  AvgTemperature
2100  Europe  Czech Republic  Prague    1            43.5
2101  Europe  Czech Republic  Prague    2            48.5
2102  Europe  Czech Republic  Prague    3            44.4
2103  Europe  Czech Republic  Prague    4            39.7
2104  Europe  Czech Republic  Prague    5            40.6

In [3]:
horko = teploty[teploty["AvgTemperature"]>80]
horko

             Region Country             City  Day  AvgTemperature
30           Africa   Benin          Cotonou    1            81.7
31           Africa   Benin          Cotonou    2            81.8
32           Africa   Benin          Cotonou    3            83.6
33           Africa   Benin          Cotonou    4            83.4
34           Africa   Benin          Cotonou    5            80.3
...             ...     ...              ...  ...             ...
8011  North America      US      Brownsville    2            80.8
8012  North America      US      Brownsville    3            81.1
8015  North America      US      Brownsville    6            80.5
8042  North America      US   Corpus Christi    3            80.2
8074  North America      US  Dallas Ft Worth    5            80.1

[722 rows x 5 columns]

In [4]:
horko_evropa = teploty[(teploty["AvgTemperature"]>60)&(teploty["Region"]=="Europe")]
horko_evropa

      Region   Country       City  Day  AvgTemperature
1932  Europe   Albania     Tirana   13            60.3
2402  Europe     Italy       Rome    3            62.2
2404  Europe     Italy       Rome    5            60.4
2580  Europe  Portugal     Lisbon    1            62.5
2581  Europe  Portugal     Lisbon    2            63.2
2582  Europe  Portugal     Lisbon    3            61.1
2583  Europe  Portugal     Lisbon    4            61.6
2602  Europe  Portugal     Lisbon   23            64.2
2603  Europe  Portugal     Lisbon   24            62.6
2701  Europe     Spain  Barcelona    2            63.8
2702  Europe     Spain  Barcelona    3            63.1
2703  Europe     Spain  Barcelona    4            63.5
2704  Europe     Spain  Barcelona    5            61.6
2730  Europe     Spain     Bilbao    1            62.9
2731  Europe     Spain     Bilbao    2            66.3
2732  Europe     Spain     Bilbao    3            63.8
2751  Europe     Spain     Bilbao   22            62.7
2752  Europe     Spain     Bilbao   23            69.5
2753  Europe     Spain     Bilbao   24            62.5

In [5]:
extrem = teploty[(teploty["AvgTemperature"]>80)|(teploty["AvgTemperature"]<-20)]
extrem

             Region Country             City  Day  AvgTemperature
30           Africa   Benin          Cotonou    1            81.7
31           Africa   Benin          Cotonou    2            81.8
32           Africa   Benin          Cotonou    3            83.6
33           Africa   Benin          Cotonou    4            83.4
34           Africa   Benin          Cotonou    5            80.3
...             ...     ...              ...  ...             ...
8011  North America      US      Brownsville    2            80.8
8012  North America      US      Brownsville    3            81.1
8015  North America      US      Brownsville    6            80.5
8042  North America      US   Corpus Christi    3            80.2
8074  North America      US  Dallas Ft Worth    5            80.1

[772 rows x 5 columns]

NEPOVINNÝ BONUS_1:
Nainstaluj si modul pytemperature a zkus si vytvořit nový sloupec, který bude obsahovat průměrnou templotu ve stupních Celsia.

Ve svém programu nejprve proveď import modulu pytemperature. Nový sloupec pak přidáš do tabulky tak, že nalevo od = vložíš tabulku a název nového sloupce do hranatých závorek. Napravo pak můžeš provádět výpočty pomocí již existujících sloupců. Můžeš např. použít funkci f2c z modulu pytemperature, která převede teplotu ze stupňů Fahrenheita na stupně Celsia.

import pytemperature

df["AvgTemperatureCelsia"] = pytemperature.f2c(df["AvgTemperature"])

Nyní můžeš zpracovat následující příklady:

Dotaz na měření, ve kterých je teplota (sloupec AvgTemperatureCelsia) vyšší než 30 stupňů Celsia.
Dotaz na měření, ve kterých je teplota vyšší než 15 stupňů Celsia a současně bylo měření provedeno v regionu (sloupec Region) Evropa (Europe).
Dotaz na extrémní hodnoty, tj. měření, ve kterých je teplota vyšší než 30 stupňů Celsia nebo menší než -10 stupňů. Jsou některé hodnoty podezřelé?

In [6]:
import pytemperature
teploty["AvgTemperatureCelsia"]=pytemperature.f2c(teploty["AvgTemperature"])#vložení nového sloupce a převod stupnice
teploty

,Region,Country,City,Day,AvgTemperature,AvgTemperatureCelsia
0,Africa,Algeria,Algiers,1,62.0,16.67
1,Africa,Algeria,Algiers,2,62.2,16.78
2,Africa,Algeria,Algiers,3,65.7,18.72
3,Africa,Algeria,Algiers,4,69.8,21.00
4,Africa,Algeria,Algiers,5,63.8,17.67
...,...,...,...,...,...,...
8785,North America,US,Cheyenne,26,51.7,10.94
8786,North America,US,Cheyenne,27,55.5,13.06
8787,North America,US,Cheyenne,28,38.5,3.61
8788,North America,US,Cheyenne,29,36.8,2.67
8789,North America,US,Cheyenne,30,36.9,2.72

In [10]:
teploty[teploty["AvgTemperatureCelsia"]>30]

,Region,Country,City,Day,AvgTemperature,AvgTemperatureCelsia
421,Africa,Mauritania,Nouakchott,2,87.4,30.78
430,Africa,Mauritania,Nouakchott,11,87.1,30.61
510,Africa,Nigeria,Niamey,1,86.9,30.50
526,Africa,Nigeria,Niamey,17,86.3,30.17
527,Africa,Nigeria,Niamey,18,86.6,30.33
528,Africa,Nigeria,Niamey,19,86.6,30.33
930,Asia,India,Bombay (Mumbai),1,86.6,30.33
931,Asia,India,Bombay (Mumbai),2,86.4,30.22
935,Asia,India,Bombay (Mumbai),6,86.8,30.44
1247,Asia,Laos,Vientiane,18,86.3,30.17
3990,South/Central America & Carribean,Haiti,Port au Prince,1,86.1,30.06
4111,South/Central America & Carribean,Suriname,Paramaribo,2,88.0,31.11

In [11]:
teploty[(teploty["AvgTemperatureCelsia"]>15)&(teploty["Region"]=="Europe")]

      Region   Country       City  Day  AvgTemperature  AvgTemperatureCelsia
1932  Europe   Albania     Tirana   13            60.3                 15.72
2221  Europe    France   Bordeaux    2            59.2                 15.11
2402  Europe     Italy       Rome    3            62.2                 16.78
2404  Europe     Italy       Rome    5            60.4                 15.78
2424  Europe     Italy       Rome   25            59.3                 15.17
2580  Europe  Portugal     Lisbon    1            62.5                 16.94
2581  Europe  Portugal     Lisbon    2            63.2                 17.33
2582  Europe  Portugal     Lisbon    3            61.1                 16.17
2583  Europe  Portugal     Lisbon    4            61.6                 16.44
2590  Europe  Portugal     Lisbon   11            59.1                 15.06
2592  Europe  Portugal     Lisbon   13            59.3                 15.17
2602  Europe  Portugal     Lisbon   23            64.2                 17.89
2603  Europe  Portugal     Lisbon   24            62.6                 17.00
2700  Europe     Spain  Barcelona    1            59.1                 15.06
2701  Europe     Spain  Barcelona    2            63.8                 17.67
2702  Europe     Spain  Barcelona    3            63.1                 17.28
2703  Europe     Spain  Barcelona    4            63.5                 17.50
2704  Europe     Spain  Barcelona    5            61.6                 16.44
2730  Europe     Spain     Bilbao    1            62.9                 17.17
2731  Europe     Spain     Bilbao    2            66.3                 19.06
2732  Europe     Spain     Bilbao    3            63.8                 17.67
2751  Europe     Spain     Bilbao   22            62.7                 17.06
2752  Europe     Spain     Bilbao   23            69.5                 20.83
2753  Europe     Spain     Bilbao   24            62.5                 16.94

In [12]:
pd.set_option("display.max_row", 500)# uprava nastavení, abych si data mohla prohlédnout celá
teploty[(teploty["AvgTemperatureCelsia"]>30)|(teploty["AvgTemperatureCelsia"]<-10)]#podezřelé jsou hodnoty s -99.0°F a -72.78°C, odhaduji, že -99.0 zde zastupuje neznámou hodnotu N/A

,Region,Country,City,Day,AvgTemperature,AvgTemperatureCelsia
168,Africa,Ethiopia,Addis Ababa,19,-99.0,-72.78
212,Africa,Gambia,Banjul,3,-99.0,-72.78
213,Africa,Gambia,Banjul,4,-99.0,-72.78
214,Africa,Gambia,Banjul,5,-99.0,-72.78
215,Africa,Gambia,Banjul,6,-99.0,-72.78
216,Africa,Gambia,Banjul,7,-99.0,-72.78
217,Africa,Gambia,Banjul,8,-99.0,-72.78
218,Africa,Gambia,Banjul,9,-99.0,-72.78
219,Africa,Gambia,Banjul,10,-99.0,-72.78
220,Africa,Gambia,Banjul,11,-99.0,-72.78
221,Africa,Gambia,Banjul,12,-99.0,-72.78
222,Africa,Gambia,Banjul,13,-99.0,-72.78
223,Africa,Gambia,Banjul,14,-99.0,-72.78
224,Africa,Gambia,Banjul,15,-99.0,-72.78
225,Africa,Gambia,Banjul,16,-99.0,-72.78
226,Africa,Gambia,Banjul,17,-99.0,-72.78
227,Africa,Gambia,Banjul,18,-99.0,-72.78
228,Africa,Gambia,Banjul,19,-99.0,-72.78
229,Africa,Gambia,Banjul,20,-99.0,-72.78
230,Africa,Gambia,Banjul,21,-99.0,-72.78
231,Africa,Gambia,Banjul,22,-99.0,-72.78
232,Africa,Gambia,Banjul,23,-99.0,-72.78
262,Africa,Guinea,Conakry,23,-99.0,-72.78
352,Africa,Kenya,Nairobi,23,-99.0,-72.78
421,Africa,Mauritania,Nouakchott,2,87.4,30.78
430,Africa,Mauritania,Nouakchott,11,87.1,30.61
498,Africa,Namibia,Windhoek,19,-99.0,-72.78
510,Africa,Nigeria,Niamey,1,86.9,30.50
526,Africa,Nigeria,Niamey,17,86.3,30.17
527,Africa,Nigeria,Niamey,18,86.6,30.33
528,Africa,Nigeria,Niamey,19,86.6,30.33
545,Africa,Nigeria,Lagos,6,-99.0,-72.78
546,Africa,Nigeria,Lagos,7,-99.0,-72.78
547,Africa,Nigeria,Lagos,8,-99.0,-72.78
548,Africa,Nigeria,Lagos,9,-99.0,-72.78
549,Africa,Nigeria,Lagos,10,-99.0,-72.78
550,Africa,Nigeria,Lagos,11,-99.0,-72.78
551,Africa,Nigeria,Lagos,12,-99.0,-72.78
552,Africa,Nigeria,Lagos,13,-99.0,-72.78
553,Africa,Nigeria,Lagos,14,-99.0,-72.78
554,Africa,Nigeria,Lagos,15,-99.0,-72.78
555,Africa,Nigeria,Lagos,16,-99.0,-72.78
556,Africa,Nigeria,Lagos,17,-99.0,-72.78
557,Africa,Nigeria,Lagos,18,-99.0,-72.78
558,Africa,Nigeria,Lagos,19,-99.0,-72.78
559,Africa,Nigeria,Lagos,20,-99.0,-72.78
560,Africa,Nigeria,Lagos,21,-99.0,-72.78
561,Africa,Nigeria,Lagos,22,-99.0,-72.78
562,Africa,Nigeria,Lagos,23,-99.0,-72.78
563,Africa,Nigeria,Lagos,24,-99.0,-72.78
564,Africa,Nigeria,Lagos,25,-99.0,-72.78
565,Africa,Nigeria,Lagos,26,-99.0,-72.78
898,Asia,China,Shenyang,29,12.1,-11.06
899,Asia,China,Shenyang,30,10.0,-12.22
930,Asia,India,Bombay (Mumbai),1,86.6,30.33
931,Asia,India,Bombay (Mumbai),2,86.4,30.22
935,Asia,India,Bombay (Mumbai),6,86.8,30.44
1071,Asia,Indonesia,Jakarta,22,-99.0,-72.78
1247,Asia,Laos,Vientiane,18,86.3,30.17
1296,Asia,Mongolia,Ulan-bator,7,1.4,-17.00
1297,Asia,Mongolia,Ulan-bator,8,9.8,-12.33
1298,Asia,Mongolia,Ulan-bator,9,8.0,-13.33
1299,Asia,Mongolia,Ulan-bator,10,9.7,-12.39
1300,Asia,Mongolia,Ulan-bator,11,10.5,-11.94
1301,Asia,Mongolia,Ulan-bator,12,13.4,-10.33
1302,Asia,Mongolia,Ulan-bator,13,-5.1,-20.61
1303,Asia,Mongolia,Ulan-bator,14,-10.8,-23.78
1304,Asia,Mongolia,Ulan-bator,15,-3.5,-19.72
1305,Asia,Mongolia,Ulan-bator,16,-3.7,-19.83
1306,Asia,Mongolia,Ulan-bator,17,-10.1,-23.39
1307,Asia,Mongolia,Ulan-bator,18,-5.0,-20.56
1308,Asia,Mongolia,Ulan-bator,19,-3.9,-19.94
1309,Asia,Mongolia,Ulan-bator,20,5.3,-14.83
1310,Asia,Mongolia,Ulan-bator,21,4.5,-15.28
1311,Asia,Mongolia,Ulan-bator,22,-1.6,-18.67
1312,Asia,Mongolia,Ulan-bator,23,-2.0,-18.89
1313,Asia,Mongolia,Ulan-bator,24,1.8,-16.78
1314,Asia,Mongolia,Ulan-bator,25,2.4,-16.44
1315,Asia,Mongolia,Ulan-bator,26,5.2,-14.89
1316,Asia,Mongolia,Ulan-bator,27,-2.0,-18.89
1317,Asia,Mongolia,Ulan-bator,28,-16.0,-26.67
1318,Asia,Mongolia,Ulan-bator,29,-15.5,-26.39
1319,Asia,Mongolia,Ulan-bator,30,-11.4,-24.11
3119,Middle East,Kuwait,Kuwait,30,-99.0,-72.78
3447,North America,Canada,Quebec,28,11.8,-11.22
3454,North America,Canada,Regina,5,11.8,-11.22
3455,North America,Canada,Regina,6,5.2,-14.89
3456,North America,Canada,Regina,7,3.2,-16.00
3457,North America,Canada,Regina,8,9.5,-12.50
3458,North America,Canada,Regina,9,-3.9,-19.94
3461,North America,Canada,Regina,12,12.7,-10.72
3464,North America,Canada,Regina,15,6.0,-14.44
3466,North America,Canada,Regina,17,11.9,-11.17
3467,North America,Canada,Regina,18,7.9,-13.39
3470,North America,Canada,Regina,21,3.0,-16.11
3471,North America,Canada,Regina,22,11.1,-11.61
3913,South/Central America & Carribean,Dominican Republic,Santo Domingo,14,-99.0,-72.78
3990,South/Central America & Carribean,Haiti,Port au Prince,1,86.1,30.06
4111,South/Central America & Carribean,Suriname,Paramaribo,2,88.0,31.11
4341,North America,US,Anchorage,22,12.1,-11.06
4342,North America,US,Anchorage,23,12.7,-10.72
4345,North America,US,Anchorage,26,9.3,-12.61
4364,North America,US,Fairbanks,15,-1.4,-18.56
4365,North America,US,Fairbanks,16,10.4,-12.00
4366,North America,US,Fairbanks,17,10.7,-11.83
4367,North America,US,Fairbanks,18,-11.6,-24.22
4368,North America,US,Fairbanks,19,-10.5,-23.61
4369,North America,US,Fairbanks,20,-10.0,-23.33
4370,North America,US,Fairbanks,21,-20.7,-29.28
4371,North America,US,Fairbanks,22,3.5,-15.83
4372,North America,US,Fairbanks,23,2.8,-16.22
4373,North America,US,Fairbanks,24,-3.8,-19.89
4374,North America,US,Fairbanks,25,-6.4,-21.33
4375,North America,US,Fairbanks,26,-15.6,-26.44
4376,North America,US,Fairbanks,27,-14.1,-25.61
4377,North America,US,Fairbanks,28,-9.9,-23.28
4378,North America,US,Fairbanks,29,-5.9,-21.06
4379,North America,US,Fairbanks,30,-2.3,-19.06
6189,North America,US,Sault Ste Marie,10,12.2,-11.00
6219,North America,US,Duluth,10,6.4,-14.22
6453,North America,US,Great Falls,4,5.0,-15.00
6454,North America,US,Great Falls,5,8.8,-12.89
6455,North America,US,Great Falls,6,7.5,-13.61
6485,North America,US,Helena,6,13.1,-10.50
6486,North America,US,Helena,7,8.7,-12.94
7088,North America,US,Fargo,9,12.7,-10.72
7089,North America,US,Fargo,10,13.1,-10.50